# Inputs
CompleteSqlitePath=Path to SQLite database file
SeparateSqlitePath=Path that contains the separate SQLite files to merge
ImagesPath=Path to the converted JPGs

# Outputs
PostgresConnectionString=Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=postgres