# Inputs
SqlitePath=Path to SQLite database file
ImagesPath=Path to the converted JPGs

# Outputs
PostgresConnectionString=Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=postgres