CompleteSqlitePath=Path to SQLite database file
SeparateSqlitePath=Path that contains the separate SQLite files to merge
ImagesPath=Path to the converted JPGs

# Docker Compose / Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=dev#Password
POSTGRES_DB=postgres
POSTGRES_PORT=5433